@import "tailwindcss";
.container {
  max-width: 1300px;
  width: 100%;
  
}
.inp-bg{
  background: #EEAECA;
background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
